<h1>SignUp Page</h1>

<form action="/signup" method="post">

  <input type="text" name="username" placeholder="User name" />

  <input type="password" name="password" placeholder="Enter password" />

  <button type="submit" class="btn">Sign Up!</button>

</form>

<img src="https://c.tenor.com/9ajKliG_mX0AAAAC/doctor-who-matt-smith.gif" alt="Matt Smith dancing crazy.">